<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center text-success">Dados App</h1>
    </div>
  </div>
  <div class="jumbotron text-center mt-5">
    <div class="card-body">
      <button
        *ngIf="!youWinImage"
        class="btn btn-success btn-lg"
        (click)="playDices()"
      >
        Tirar dados
      </button>
      <button
        *ngIf="youWinImage"
        class="btn btn-danger btn-lg m-2"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
    <img
      *ngIf="youWinImage"
      class="w-25 h-25"
      src="https://c.tenor.com/-Yf9G_sGZ-8AAAAC/tenor.gif"
      alt="You win"
    />
    <div class="row row-cols-2">
      <app-image [imageUrl]="diceLeft" />
      <app-image [imageUrl]="diceRight" />
    </div>
  </div>
</div>
